@keyframes auto_scroll {
    from{ transform: translate(0);}
    to{ transform: translate(-50%);}
}

body{
    background-color:black ;
}

.section {
    height: 100vh; 
    /* display: flex; */
    justify-content: center; 
    align-items: center; 
    /* margin-top : 100px ; */
}

h1{
    display: block;;
    color: rgb(153, 151, 151) ; 
    font-size: 50px ;
    font-family: 'Times New Roman', Times, serif;
}

.certificates{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    background-color: rgb(180, 177, 174);
    scroll-behavior: smooth;
    /* animation: auto_scroll 10s linear infinite ; */
    /* scroll-snap-type: mandatory; */
}

.certificates:hover{
    animation-play-state: paused;
}

.responsive , .skills , .aws_academy , .observe , .nptel-python , .nptel-java{
    position: relative;
    height :500px ;
    width: 1300px ;
    align-items: center;
    justify-items: center ;
    margin-top: 0px;
    left: 10px;
    scroll-snap-align: center ;
    padding-right: 10px 
    padding-top:5px ;
    display:inline-block;

   

}
.image , .logo {
    position: absolute;
    width: 100%;
    height: 100% ;
    transition: opacity 0.3s ease-in-out;
    object-fit: cover;
}

.logo {
    opacity: 0; 
}

/* .responsive:hover .image , .skills:hover .image , .aws_academy:hover .image , .observe:hover .image , .nptel-python:hover .image, .nptel-java:hover .image{
    opacity: 0; 
}

.responsive:hover .logo , .skills:hover .logo , .aws_academy:hover .logo , .observe:hover .logo , .nptel-python:hover .logo , .nptel-java:hover .logo{
    opacity:0.9; 
     
}*/



