html{
    scroll-behavior: smooth;
}

body{
    background-color:black ;
}

.section {
    height: 100vh; 
    /* display: flex; */
    justify-content: center; 
    align-items: center; 
    margin-top : 50px ;
}

h1{
    display: block;;
    color: rgb(153, 151, 151) ; 
    font-size: 50px ;
    font-family: 'Times New Roman', Times, serif;
}

.certificates{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
a:active{
    background-color: black;
    
}
.total {
    /* margin-top: 10%; */
    width: 70%;
    height : 200px ;
    position: relative;
    margin-left: 15%;
    display: block;
    background-color: rgb(200, 213, 213);
    overflow: hidden;
}

.logo{
    width: 230px;
    height: 200px;
}


.responsive , .skills , .aws_academy , .observe , .nptel-python , .nptel-java{
    position: absolute;
    position: ;
    width:250px ;
    left:0 ;
    height: 100% ;
    transition: opacity 0.3s ease-in-out;
    object-fit: cover;
    background-color: rgb(255, 255, 255);

}


.head{
    width: 100vw; /* Full width */
    /* background-color: lightblue; */
    padding: 20px;
    justify-items: center;
    margin: 0; /* Remove default margin */
    box-sizing: border-box;
}

.name {
    /* background-color: blue; */
    position: absolute;
    right: 0;
    width: calc(70vw - 280px);
    height: 100%;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding-left: 0;
    box-sizing: border-box;
}
.name p{
    font-weight: bolder;
}
